.hero {
  padding-top: 180px;
  padding-bottom: 134px;
  background-image: url(background-main.66dace5a.png);
}
@media (max-width: 960px) {
  .hero {
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .hero {
    padding-top: 140px;
  }
}
.breadcrumbs {
  display: flex;
  align-items: center;
}
@media (max-width: 960px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-right: 50px;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs a:active {
  opacity: 0.8;
}
@media (max-width: 1440px) {
  .breadcrumbs a {
    font-size: 14px;
  }
  .breadcrumbs a .breadcrumbs svg {
    width: 16px;
    height: 16px;
  }
}
.hero-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 83px;
}
@media (max-width: 1440px) {
  .hero-container {
    margin-top: 40px;
  }
}
.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .hero-title {
    font-size: 60px;
    line-height: 80px;
  }
}
@media (max-width: 960px) {
  .hero-title {
    font-size: 46px;
    line-height: 66px;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
    line-height: 56px;
  }
}
@media (max-width: 375px) {
  .hero-title {
    font-size: 30px;
    line-height: 35px;
  }
}
.bulet-block {
  justify-content: center;
  flex-direction: column;
  border-left: 5px solid #ffffff;
  height: 135px;
  padding-left: 30px;
}
@media (max-width: 1440px) {
  .bulet-block {
    margin-top: 75px;
  }
}
@media (max-width: 960px) {
  .bulet-block {
    margin-top: 50px;
    height: 120px;
  }
}
@media (max-width: 375px) {
  .bulet-block {
    height: 60px;
    margin-top: 30px;
  }
}
.bulet {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-bottom: 25px;
}
.bulet:last-child {
  margin-bottom: 0;
}
@media (max-width: 960px) {
  .bulet {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .bulet {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .bulet {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
  }
}
.hero-advantages {
  margin-top: 75px;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  .hero-advantages {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .hero-advantages {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .hero-advantages {
    margin-top: 60px;
  }
}
.hero-box {
  align-items: center;
  margin-right: 60px;
  flex-shrink: 0;
}
.hero-box:last-child {
  margin-right: 0;
}
@media (max-width: 960px) {
  .hero-box {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .hero-box {
    margin-right: 0;
  }
}
@media (max-width: 375px) {
  .hero-box {
    margin-bottom: 30px;
  }
  .hero-box .hero-box svg {
    width: 36px;
    height: 36px;
  }
}
.hero-box-txt {
  max-width: 252px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-left: -50px;
}
@media (max-width: 960px) {
  .hero-box-txt {
    max-width: none;
    margin-left: -50px;
  }
}
@media (max-width: 768px) {
  .hero-box-txt {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .hero-box-txt {
    font-size: 12px;
    line-height: 12px;
  }
}
.hero-button {
  margin-top: 74px;
  align-items: center;
  justify-content: center;
  width: 424px;
  height: 69px;
  background-color: #f8b043;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.hero-button:hover {
  background-color: #ffaa28;
}
.hero-button:active {
  opacity: 0.8;
}
@media (max-width: 960px) {
  .hero-button {
    width: 360px;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .hero-button {
    width: 100%;
    height: 50px;
    font-size: 12px;
  }
}
.hero-button svg {
  margin-left: 33px;
}
@media (max-width: 375px) {
  .hero-button svg {
    margin-left: 20px;
  }
}
.why {
  background-color: #fafafa;
  padding-top: 160px;
  padding-bottom: 130px;
}
@media (max-width: 1440px) {
  .why {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 375px) {
  .why {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.usual-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  color: #505050;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .usual-title {
    font-size: 46px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .usual-title {
    font-size: 30px;
    line-height: 46px;
  }
}
@media (max-width: 375px) {
  .usual-title {
    font-size: 20px;
    line-height: 25px;
  }
}
.usual-title span {
  color: #f8b043;
}

.usual-par {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #555555;
  margin-top: 50px;
  padding-left: 45px;
  border-left: 3px solid #f8b043;
}
@media (max-width: 1440px) {
  .usual-par {
    margin-top: 40px;
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .usual-par {
    font-size: 16px;
  }
  .usual-par br {
    display: none;
  }
}
@media (max-width: 960px) {
  .usual-par {
    padding-left: 20px;
  }
  .usual-par br {
    display: none;
  }
}
@media (max-width: 375px) {
  .usual-par {
    font-size: 14px;
    line-height: 18px;
    border: none;
    padding-left: 0;
    margin-top: 20px;
  }
  .usual-par br {
    display: none;
  }
}

.why-icons-container {
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 106px;
}
@media (max-width: 960px) {
  .why-icons-container {
    margin-top: 60px;
    align-items: normal;
  }
}
@media (max-width: 768px) {
  .why-icons-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .why-icons-container {
    flex-direction: column;
    margin-top: 40px;
  }
}

@media (max-width: 1440px) {
  .why-icons svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 960px) {
  .why-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 40px;
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .why-icons {
    flex-shrink: 0;
    margin-right: 50px;
  }
}
@media (max-width: 375px) {
  .why-icons {
    flex-direction: row;
    max-width: none;
    margin-bottom: 30px;
  }

  .why-icons svg {
    flex-shrink: 0;
  }
}
.why-icons-txt {
  font-size: 20px;
  line-height: 20px;
  margin-top: 30px;
  color: #585858;
}
@media (max-width: 1440px) {
  .why-icons-txt {
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
  }
}
@media (max-width: 960px) {
  .why-icons-txt {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }
}
@media (max-width: 375px) {
  .why-icons-txt {
    text-align: left;
    margin-left: 20px;
  }
  .why-icons-txt br {
    display: none;
  }
}
.help {
  padding-top: 130px;
  padding-bottom: 138px;
}
@media (max-width: 1440px) {
  .help {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .help {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

.help-container {
  margin-top: 80px;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .help-container {
    margin-top: 60px;
  }
}
@media (max-width: 960px) {
  .help-container {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .help-container {
    margin-top: 35px;
  }
}

.help-box {
  padding-bottom: 60px;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.help-box:hover {
  border-color: #f8b043;
}
@media (max-width: 960px) {
  .help-box {
    padding-bottom: 20px;
    margin-bottom: 40px;
    max-width: 300px;
  }
}
@media (max-width: 375px) {
  .help-box {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.ellipse {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #f8b043;
}

.help-txt {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #555555;
  margin-left: 20px;
}
@media (max-width: 1440px) {
  .help-txt {
    font-size: 20px;
    line-height: 20px;
  }
}
.advantages {
  background-color: #fafafa;
  padding-top: 130px;
}
@media (max-width: 960px) {
  .advantages {
    padding-top: 100px;
  }
}
@media (max-width: 375px) {
  .advantages {
    padding-bottom: 28px;
    background-color: #fff;
  }
}
@media (max-width: 375px) {
  .advantages {
    padding-top: 0px;
  }
}

.adv-wrapper {
  flex-wrap: wrap;
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .adv-wrapper {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .adv-wrapper {
    align-items: center;
    justify-content: center;
  }
}

.adv-box {
  width: 400px;
  margin-right: 80px;
  margin-bottom: 90px;
}
@media (max-width: 960px) {
  .adv-box {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .adv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .adv-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media (max-width: 1440px) {
  .adv-box .adv-icon svg {
    width: 80px;
    height: 80px;
  }
}

.adv-box-title {
  height: 50px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #555555;
}
@media (max-width: 1440px) {
  .adv-box-title {
    height: 40px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .adv-box-title {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .adv-box-title {
    font-size: 14px;
    line-height: 16px;
    height: 30px;
    margin-top: 16px;
  }
}

.adv-box-par {
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}
@media (max-width: 1440px) {
  .adv-box-par {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .adv-box-par {
    text-align: center;
  }
  .adv-box-par br {
    display: none;
  }
}
@media (max-width: 375px) {
  .adv-box-par {
    font-size: 12px;
    line-height: 14px;
  }
}
.offer {
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1440px) {
  .offer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 375px) {
  .offer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.bg-1 {
  background-image: url(background-optimal.8cd73774.png);
  background-size: cover;
}
.bg-2 {
  background-image: url(background-trust.4cbd4625.png);
  background-size: cover;
}
.bg-3 {
  background-image: url(background-consultation.8bbd6b94.png);
  background-size: cover;
}
@media (max-width: 375px) {
  .bg-1 {
    max-width: 375px;
  }

  .bg-2 {
    max-width: 375px;
  }

  .bg-3 {
    max-width: 375px;
  }
}
.offer-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  margin: 0;
}
@media (max-width: 1440px) {
  .offer-title {
    font-size: 46px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .offer-title {
    font-size: 26px;
    line-height: 36px;
  }
  .offer-title br {
    display: none;
  }
}
@media (max-width: 375px) {
  .offer-title {
    font-size: 20px;
    line-height: 25px;
  }
}
.offer-color {
  color: #f8b043;
}
.offer-par {
  margin-top: 50px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}
@media (max-width: 1440px) {
  .offer-par {
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .offer-par {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .offer-par {
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .offer-par br {
    display: none;
  }
}
.offer-data {
  margin-top: 110px;
}
@media (max-width: 1440px) {
  .offer-data {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .offer-data {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .offer-data {
    margin-top: 28px;
    flex-direction: column;
  }
}
.offer-input {
  margin-right: 50px;
}
.offer-input:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .offer-input {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .offer-input {
    margin-right: 0;
    margin-bottom: 36px;
  }
}
.input-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}
@media (max-width: 1440px) {
  .input-title {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .input-title {
    font-size: 12px;
    line-height: 12px;
  }
}
.offer-input input {
  width: 433px;
  height: 77px;
  border: 1px solid #f8b043;
  color: #505050;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding-left: 40px;
}
@media (max-width: 1440px) {
  .offer-input input {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .offer-input input {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .offer-input input {
    height: 46px;
    font-size: 12px;
  }
}
.offer-button {
  width: 433px;
  height: 77px;
  align-items: center;
  justify-content: center;
  background-color: #f8b043;
  font-size: 20px;
  line-height: 20px;
  color: #363636;
  margin-top: 80px;
}
.offer-button:hover {
  background-color: #ffaa28;
}
.offer-button:active {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .offer-button {
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .offer-button {
    width: 280px;
    height: 50px;
    font-size: 12px;
    margin-top: 40px;
  }
}
.cards {
  background-color: #fafafa;
  padding-top: 250px;
  padding-bottom: 185px;
}
@media (max-width: 1440px) {
  .cards {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 375px) {
  .cards {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cards-container {
  margin-top: 118px;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .cards-container {
    margin-top: 100px;
  }
}
@media (max-width: 375px) {
  .cards-container {
    margin-top: 30px;
  }
}

.card {
  width: 500px;
  height: 304px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f8b043;
  border-bottom: 10px solid #f8b043;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #555555;
  cursor: pointer;
}
.card:hover {
  background-color: #f8b043;
  color: white;
}
@media (max-width: 1440px) {
  .card {
    width: 400px;
    height: 250px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .card {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
    width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 960px) {
  .risk {
    padding-bottom: 100px;
  }
}
@media (max-width: 375px) {
  .risk {
    flex-direction: column;
  }
}
.pt-1 {
  padding-top: 116px;
}
@media (max-width: 1440px) {
  .pt-1 {
    padding-top: 60px;
  }
}
@media (max-width: 960px) {
  .pt-1 {
    padding-top: 60px;
  }
}
@media (max-width: 375px) {
  .pt-1 {
    padding-top: 0;
  }
}

.risk-container {
  margin-top: 30px;
}

.risk-box.active .risk-icon {
  transform: rotate(90deg);
}
.risk-box.active .risk-features {
  display: block;
}

.risk-title {
  align-items: center;
  font-weight: 300;
  font-size: 35px;
  line-height: 35px;
  color: #262626;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .risk-title {
    font-size: 25px;
  }
}

.risk-icon {
  margin-right: 30px;
}

.risk-features {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
}
@media (max-width: 375px) {
  .risk-features {
    padding-left: 0;
  }
}

.risk-features-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 375px) {
  .risk-features-title {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.risk-features-txt {
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 375px) {
  .risk-features-txt {
    font-size: 12px;
  }
}

.risk-features-ellipse {
  width: 5px;
  height: 5px;
  background-color: #f8b043;
  border-radius: 100%;
  margin-right: 12px;
}
@media (max-width: 375px) {
  .risk-features-ellipse {
    display: flex;
    flex-shrink: 0;
  }
}

.risk-img {
  margin-left: 110px;
  background-size: cover;
  height: 100%;
}
@media (max-width: 960px) {
  .risk-img {
    display: none;
  }
}
@media (max-width: 375px) {
  .risk-img {
    height: auto;
    display: block;
    margin-left: 0;
    margin-top: 60px;
  }
}
.guarant {
  background-color: #fafafa;
  padding-top: 160px;
  padding-bottom: 254px;
}
@media (max-width: 1440px) {
  .guarant {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .guarant {
    padding-top: 0;
    padding-bottom: 30px;
    background-color: #fff;
  }
}

.guarant-container {
  justify-content: space-between;
  margin-top: 128px;
}
@media (max-width: 1440px) {
  .guarant-container {
    margin-top: 100px;
  }
  .guarant-container .guarant-icon svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 960px) {
  .guarant-container {
    flex-direction: column;
    margin-top: 60px;
  }
  .guarant-container .guarant-box {
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .guarant-container {
    margin-top: 30px;
  }
  .guarant-container .guarant-box {
    margin-bottom: 40px;
  }
}

.guarant-box-title {
  height: 50px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #555555;
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .guarant-box-title {
    font-size: 16px;
    line-height: 16px;
    height: 40px;
  }
}

.guarant-box-txt {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .guarant-box-txt {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
  }
}

.guarant-view {
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
}
@media (max-width: 1440px) {
  .guarant-view {
    margin-top: 100px;
  }
}
@media (max-width: 960px) {
  .guarant-view {
    flex-direction: column;
    align-items: normal;
    margin-top: 0;
  }
}

.profile {
  align-items: center;
}

@media (max-width: 960px) {
  .mb {
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .mb {
    margin-bottom: 25px;
  }
}
.view-title {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #797979;
}
@media (max-width: 1440px) {
  .view-title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 960px) {
  .view-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .view-title {
    font-size: 12px;
    line-height: 14px;
  }
  .view-title br {
    display: none;
  }
}
@media (max-width: 375px) {
  .view-title {
    margin-bottom: 35px;
  }
}

.view-icon {
  width: 80px;
  height: 80px;
  background-color: #c4c4c4;
  border-radius: 100%;
}
@media (max-width: 1440px) {
  .view-icon {
    width: 60px;
    height: 60px;
  }
}

.view-container {
  margin-left: 20px;
  color: #555555;
}

.view-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 5px;
}
@media (max-width: 1440px) {
  .view-name {
    font-size: 16px;
    line-height: 16px;
  }
}

.view-post {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .view-post {
    font-size: 12px;
    line-height: 12px;
  }
}
.comment {
  padding-top: 160px;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
@media (max-width: 1440px) {
  .comment {
    padding-top: 100px;
  }
}
@media (max-width: 375px) {
  .comment {
    background-color: #fff;
    padding-top: 60px;
  }
}

.comment-box {
  font-weight: 300;
  font-style: italic;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #555555;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment-box:last-child {
  color: #797979;
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .comment-box {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .comment-box br {
    display: none;
  }
}
@media (max-width: 375px) {
  .comment-box {
    font-size: 14px;
    line-height: 16px;
  }
  .comment-box br {
    display: none;
  }
}
@media (max-width: 375px) {
  .comment-box {
    margin-bottom: 30;
  }
  .comment-box:first-child {
    margin-bottom: 0;
  }
  .comment-box br {
    display: none;
  }
}

.line {
  width: 368px;
  border: 1px solid #000000;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1440px) {
  .line {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 134px;
  }
}
.result {
  background-color: #fafafa;
  padding-top: 198px;
  padding-bottom: 280px;
}
@media (max-width: 1440px) {
  .result {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}
@media (max-width: 375px) {
  .result {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.result-container {
  justify-content: space-between;
  margin-top: 128px;
}
@media (max-width: 1440px) {
  .result-container {
    margin-top: 60px;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .result-container {
    margin-top: 35px;
  }
}

.result-par {
  margin-bottom: 50px;
}
.result-par:last-child {
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .result-par {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .result-par {
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .result-par {
    margin-bottom: 30px;
  }
}

.result-par-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #555555;
}
@media (max-width: 1440px) {
  .result-par-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 375px) {
  .result-par-title {
    font-size: 14px;
    line-height: 16px;
  }
}

.result-par-txt {
  margin-top: 15px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}
@media (max-width: 768px) {
  .result-par-txt {
    line-height: 25px;
  }
}
@media (max-width: 375px) {
  .result-par-txt {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  .result-par-txt br {
    display: none;
  }
}

.result-par-txt.lh-1 {
  line-height: 30px;
}
@media (max-width: 375px) {
  .result-par-txt.lh-1 br {
    display: block;
  }
}

.result-line {
  height: 540px;
  border: 1px solid #d8d8d8;
}
@media (max-width: 1440px) {
  .result-line {
    display: none;
  }
}

.feedback {
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .feedback {
    margin-top: 60px;
  }
}
@media (max-width: 375px) {
  .feedback {
    margin-top: 40px;
  }
}

.feedback-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #f8b043;
}
@media (max-width: 375px) {
  .feedback-title {
    font-size: 14px;
    line-height: 16px;
  }
  .feedback-title br {
    display: none;
  }
}

.feedback-txt {
  font-size: 20px;
  line-height: 24px;
  color: #575757;
}
@media (max-width: 1440px) {
  .feedback-txt {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  .feedback-txt {
    font-size: 12px;
    line-height: 16px;
    margin-top: 16px;
  }
  .feedback-txt br {
    display: none;
  }
}

.profile-container {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .profile-container {
    margin-top: 30px;
    justify-content: normal;
  }
  .profile-container .view-icon img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: normal;
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  .profile-container {
    flex-direction: column;
    align-items: normal;
    margin-top: 25px;
  }
}

.arrow-container {
  align-items: center;
}
@media (max-width: 1440px) {
  .arrow-container {
    margin-left: 60px;
  }
}
@media (max-width: 375px) {
  .arrow-container {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .arrow-container {
    margin-left: 0;
    margin-top: 30px;
  }
}

.profile-arrow {
  cursor: pointer;
}
.profile-arrow:first-child {
  margin-right: 20px;
  fill: #c4c4c4;
  transform: rotate(180deg);
  margin-bottom: 3px;
}
.own-con {
  margin-left: 163px;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .own-con {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .own-con {
    padding-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .own-con {
    align-items: normal;
    margin-top: 40px;
  }
}

@media (max-width: 1100px) {
  .owners-img {
    display: none;
  }
}
@media (max-width: 375px) {
  .owners {
    flex-direction: column;
  }

  .owners-img {
    display: block;
    background-size: cover;
    height: auto;
  }

  .tc {
    text-align: left;
  }
}
.owners-container {
  margin-top: 36px;
}
@media (max-width: 375px) {
  .owners-container {
    margin-top: 20px;
  }
}

.owners-txt {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 40px;
}
.owners-txt:last-child {
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .owners-txt {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .owners-txt {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .owners-txt {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .owners-txt br {
    display: none;
  }
}

.owners-button {
  width: 433px;
  height: 77px;
  align-items: center;
  justify-content: center;
  background-color: #f8b043;
  font-size: 20px;
  line-height: 20px;
  color: #363636;
  margin-top: 60px;
}
.owners-button:hover {
  background-color: #ffaa28;
}
.owners-button:active {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .owners-button {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .owners-button {
    width: 100%;
    height: 50px;
    font-size: 12px;
  }
}
.map-container {
  background-image: url(map.8a0b67bb.png);
  padding-top: 262px;
  padding-bottom: 262px;
  padding-left: 200px;
  background-size: cover;
}
@media (max-width: 960px) {
  .map-container {
    position: relative;
    padding: 0;
    height: 773px;
    width: auto;
  }
}
.map-contacts {
  background-color: #ffffff;
  border: 1px solid #f8b043;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 960px) {
  .map-contacts {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .map-contacts {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.map-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #505050;
  padding-left: 50px;
}
@media (max-width: 375px) {
  .map-title {
    font-size: 14px;
    padding-left: 20px;
  }
}
.map-contacts-container {
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}
@media (max-width: 375px) {
  .map-contacts-container {
    flex-direction: column;
    align-items: normal;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .map-contacts-container {
    flex-direction: column;
    align-items: normal;
  }
}
.map-phone {
  align-items: center;
  margin-right: 40px;
  color: #555555;
}
@media (max-width: 375px) {
  .map-phone {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .map-phone {
    margin-bottom: 30px;
  }
}
.map-phone svg {
  margin-right: 20px;
}
.map-email {
  align-items: center;
}
.map-email svg {
  margin-right: 20px;
}
.map-adress {
  padding-left: 50px;
  padding-top: 35px;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}
@media (max-width: 768px) {
  .map-adress {
    padding-top: 30px;
    padding-right: 60px;
    line-height: 25px;
  }
}
@media (max-width: 375px) {
  .map-adress {
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 60px;
  }
}
.map-adress svg {
  margin-right: 20px;
}
.company {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 375px) {
  .company {
    padding-top: 0;
  }
}

.company-container {
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.swiper-slide {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-width: 320px !important;
}

.company-arrow-container {
  margin-top: 46px;
}

.company-arrow {
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f8b043;
  background: transparent;
  border-radius: 7px;
  margin-right: 20px;
}
.company-arrow:last-child {
  margin-right: 0;
  transform: rotate(180deg);
}
.company-arrow:active {
  background: #f4f4f4;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input,
select {
  margin: 0;
}
button {
  overflow: visible;
  text-transform: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
ul {
  list-style: none;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
body {
  min-width: 375px;
}
.w-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
}
.header {
  position: absolute;
  z-index: 2;
  padding-top: 39px;
  padding-bottom: 39px;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(13px);
  width: 100%;
}
.header-container {
  align-items: center;
  justify-content: space-between;
}
.burger {
  display: none;
}
@media (max-width: 960px) {
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger .burger svg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .burger .burger svg {
    width: 25px;
    height: 25px;
  }
}
.logo {
  align-items: center;
}
.slogan {
  margin-left: 50px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: white;
}
@media (max-width: 1440px) {
  .slogan {
    display: none;
  }
}
.header-place {
  align-items: center;
}
@media (max-width: 960px) {
  .header-place {
    display: none;
  }
}
.header-place-txt {
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin-left: 20px;
}
.header-phone {
  align-items: center;
}
.header-phone:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.header-phone:active {
  opacity: 0.8;
}
@media (max-width: 960px) {
  .header-phone {
    display: none;
  }
}
.phone-tablet {
  display: none;
}
@media (max-width: 960px) {
  .phone-tablet {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 72.4%, #ffffff 100%);
    border-radius: 100%;
  }
  .phone-tablet .phone-tablet svg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .phone-tablet {
    width: 40px;
    height: 40px;
  }
  .phone-tablet .phone-tablet svg {
    width: 20px;
    height: 20px;
  }
}
.phone {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: white;
  margin-left: 20px;
}
.header-button {
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 69px;
  background: transparent;
  border: 2px solid #f8b043;
  color: #f8b043;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.header-button:hover {
  border-color: #ffaa28;
  color: #ffaa28;
}
.header-button:active {
  opacity: 0.8;
}
@media (max-width: 1440px) {
  .header-button {
    width: 187px;
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .header-button {
    display: none;
  }
}
.footer {
  background-color: #141414;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 960px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
.pt-2 {
  padding-top: 0;
}
.breadcrumbs-footer {
  align-items: center;
}
@media (max-width: 768px) {
  .breadcrumbs-footer {
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .breadcrumbs-footer {
    align-items: normal;
    flex-direction: column;
  }
}
.breadcrumbs-footer a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-right: 50px;
}
.breadcrumbs-footer a:hover {
  text-decoration: underline;
}
.breadcrumbs-footer a:active {
  opacity: 0.8;
}
@media (max-width: 1440px) {
  .breadcrumbs-footer a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs-footer a {
    font-size: 20px;
    line-height: 40px;
  }
  .breadcrumbs-footer a:first-child {
    display: none;
  }
  .breadcrumbs-footer a:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 375px) {
  .breadcrumbs-footer a {
    line-height: 40px;
  }
}
.breadcrumbs-footer svg {
  height: 24px;
  width: 24px;
}
@media (max-width: 1440px) {
  .breadcrumbs-footer svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs-footer svg {
    display: none;
  }
}
@media (max-width: 375px) {
  .breadcrumbs-footer svg {
    display: none;
  }
}
.con {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .con {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .con {
    align-items: center;
  }
}
@media (max-width: 375px) {
  .con {
    align-items: normal;
  }
}
.br-footer-comp {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: white;
}
@media (max-width: 1440px) {
  .br-footer-comp {
    font-size: 12px;
  }
}
@media (max-width: 960px) {
  .br-footer-comp {
    margin-top: 20px;
  }
}
@media (max-width: 375px) {
  .br-footer-comp {
    font-size: 16px;
    line-height: 16px;
    margin-top: 35px;
  }
}
/*# sourceMappingURL=index.81b039f6.css.map */
