.cards
  .w-container
    .usual-title Распространенные <span>проблемы <br> при регистрации</span> в росреестре
    .usual-par
      | Росреестр направляет межведомственные запросы в городские исполнительные
      br
      | органы, проверяет сделку на законность и соответствие правовым нормам. При
      br
      | обнаружении любых расхождений в данных регистрация приостанавливается.
    .cards-container.flex
      .card.flex
        | У здания есть
        br
        | признаки самостроя
      .card.flex
        | Произошло наложение
        br
        | грациц смежных участков
      .card.flex
        | Границы земельного
        br
        | участка не устрановлены
      .card.flex
        | Возникает необходимость
        br
        | внести изменения в правила
        br
        | землепользования и
        br
        | застройки города Москвы
