.comment.flex
  .comment-box
    | “Работа с Росреестром часто усложняет жизнь 
    br
    | владельцам недвижимости. Иногда доходит до абсурда: 
    br
    | в регистрации недвижимости отказывают даже тем, у 
    br
    | кого на самом деле все в порядке с документами.”
  .line
  .comment-box
    | “Мы работаем с Росреестром не первый год и знаем все
    br
    | "подводные камни", а их, поверьте, немало”.
  .profile.flex
    .view-icon
    .view-container
      .view-name
        | Александр Васильев
      .view-post
        | собственник Хелп Девелопмент
