.company
  .w-container
    .usual-title К нам обращаются <span>ведущие предприятия России</span>
    .swiper
      .swiper-wrapper.company-container.flex
        img.swiper-slide(src="./img/retail.png", alt="Retail Group")
        img.swiper-slide(src="./img/invest.png", alt="Investtrans")
        img.swiper-slide(src="./img/pik.png", alt="Pik")
        img.swiper-slide(src="./img/ashan.png", alt="Ashan")

      .company-arrow-container.flex
        .company-arrow.flex.prev
          svg(width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9 17.6377L2 9.6377L9 1.6377' stroke='#F8B043' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
        .company-arrow.flex.next
          svg(width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9 17.6377L2 9.6377L9 1.6377' stroke='#F8B043' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
