.footer 
  .w-container.con.flex
    .breadcrumbs-footer.flex
      a(href='#')
       svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0_2:700)')
          path(d='M23.3524 10.4388C23.3519 10.4383 23.3513 10.4377 23.3508 10.4372L13.5607 0.647461C13.1434 0.22998 12.5886 0 11.9984 0C11.4083 0 10.8535 0.229797 10.436 0.647278L0.651026 10.4321C0.64773 10.4354 0.644434 10.4388 0.641138 10.4421C-0.215796 11.304 -0.214331 12.7024 0.645349 13.5621C1.03811 13.955 1.55685 14.1826 2.11147 14.2064C2.134 14.2086 2.1567 14.2097 2.17959 14.2097H2.56979V21.4144C2.56979 22.84 3.72976 24 5.15579 24H8.98599C9.37417 24 9.68911 23.6852 9.68911 23.2969V17.6484C9.68911 16.9979 10.2183 16.4687 10.8689 16.4687H13.128C13.7786 16.4687 14.3078 16.9979 14.3078 17.6484V23.2969C14.3078 23.6852 14.6225 24 15.0109 24H18.8411C20.2671 24 21.4271 22.84 21.4271 21.4144V14.2097H21.7889C22.3789 14.2097 22.9337 13.9799 23.3513 13.5624C24.2119 12.7013 24.2123 11.3005 23.3524 10.4388Z' fill='white')
        defs
          clippath(id='clip0_2:700')
            rect(width='24' height='24' fill='white')
      a(href='#') Услуги
      a(href='#') Новости
      a(href='#') Блог
      a(href='#') О компании
      a(href='#') Партнёры
      a(href='#') Контакты
      svg(width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M15.9671 6.27997C18.5904 8.90327 18.5904 13.1565 15.9671 15.7798C13.3438 18.4031 9.09059 18.4031 6.46729 15.7798C3.84399 13.1565 3.84399 8.90327 6.46729 6.27997C9.09059 3.65668 13.3438 3.65668 15.9671 6.27997' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
        path(d='M15.9189 15.8174L22.5001 22.4886' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    .br-footer-comp
      | © Help Development, 2011 - 2021  