.guarant
  .w-container
    .usual-title Гарантированно <span>проведем регистрацию</span> в росреестре
    .usual-par
      | Берем на себя все риски и несем юридическую ответственность за регистрацию вашей
      br
      | недвижимости в Росреестре. Все наши обязательства прописаны в официальном договоре:
    .guarant-container.flex
      .guarant-box
        .guarant-icon
          svg(width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_2:469)')
              path(d='M39.9986 6.25079C39.1332 6.25079 38.4376 6.94767 38.4376 7.81173C38.4376 8.61595 39.0426 9.28517 39.8423 9.36454C40.7681 9.45642 41.5595 8.73533 41.5595 7.81173C41.5595 6.94642 40.8626 6.25079 39.9986 6.25079Z' fill='#555555')
              path(d='M71.25 9.37451C66.9422 9.37451 63.4375 5.86982 63.4375 1.56201C63.4375 0.699199 62.7378 -0.000488281 61.875 -0.000488281H18.125C17.2622 -0.000488281 16.5625 0.699199 16.5625 1.56201C16.5625 5.86982 13.0578 9.37451 8.75 9.37451C7.88719 9.37451 7.1875 10.0742 7.1875 10.937V36.4354C7.1875 56.3069 20.1398 74.1128 39.5513 79.9337C39.6977 79.9775 39.8488 79.9995 40 79.9995C40.1512 79.9995 40.3027 79.9775 40.4489 79.9336C59.4398 74.2369 72.8125 56.7415 72.8125 36.4354V10.937C72.8125 10.0742 72.1128 9.37451 71.25 9.37451ZM69.6875 36.4354C69.6875 55.0992 57.778 71.2623 40 76.8031C22.3637 71.3065 10.3125 54.997 10.3125 36.4354V12.3883C15.0955 11.7011 18.8891 7.90748 19.5763 3.12451H60.4238C61.1109 7.90748 64.9045 11.7011 69.6875 12.3883V36.4354Z' fill='#555555')
              path(d='M65.6269 14.4511C62.3684 13.024 59.788 10.4436 58.3609 7.18514C58.1119 6.6167 57.5503 6.24951 56.9297 6.24951H46.2469C45.3841 6.24951 44.6844 6.9492 44.6844 7.81201C44.6844 8.67482 45.3841 9.37451 46.2469 9.37451H55.9417C57.5925 12.6059 60.2061 15.2194 63.4375 16.8703V36.4355C63.4375 51.7266 54.258 64.9203 40 70.2017C25.742 64.9202 16.5625 51.7266 16.5625 36.4355V16.8703C19.7939 15.2194 22.4073 12.6059 24.0583 9.37451H33.7531C34.6159 9.37451 35.3156 8.67482 35.3156 7.81201C35.3156 6.9492 34.6159 6.24951 33.7531 6.24951H23.0703C22.4497 6.24951 21.8881 6.61686 21.6391 7.18514C20.212 10.4436 17.6316 13.024 14.3731 14.4511C13.8048 14.7001 13.4375 15.2619 13.4375 15.8823V36.4355C13.4375 53.1875 23.7986 67.7875 39.4788 73.3364C39.6473 73.3961 39.8236 73.4259 40 73.4259C40.1764 73.4259 40.3527 73.3961 40.5212 73.3364C56.1883 67.7922 66.5625 53.2011 66.5625 36.4355V15.8823C66.5625 15.2617 66.1952 14.7001 65.6269 14.4511Z' fill='#555555')
              g(clip-path='url(#clip1_2:469)')
                path(d='M30.48 46.165L31.957 25H45.18C45.18 25 50.898 25.773 50.676 31.163C50.676 31.163 51.051 34.465 46.721 36.943C46.018 37.344 45.286 37.528 44.317 37.869L41.547 38.079L38.369 38.1L37.697 34.38L41.108 34.41L41.961 34.419C41.961 34.419 42.408 34.33 42.99 34.107C44.05 33.701 45.541 32.843 45.556 31.24C45.556 31.24 45.48 28.449 42.34 28.449C39.199 28.449 36.453 28.37 36.453 28.37L35.206 46.165H30.48Z' fill='#505050')
            defs
              clippath(id='clip0_2:469')
                rect(width='80' height='80' fill='white' transform='translate(0 -0.000488281)')
              clippath(id='clip1_2:469')
                rect(width='21.165' height='21.165' fill='white' transform='translate(30 25)')
        .guarant-box-title
          | Гарантия регистрации вашей
          br
          |  недвижимости в Росреестре
        .guarant-box-txt
          | Продолжительный опыт и тщательный анализ
          br
          | вашей ситуации позволяют свести к нулю риски
      .guarant-box
        .guarant-icon
          svg(width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_2:487)')
              path(d='M39.9986 6.25134C39.1332 6.25134 38.4376 6.94822 38.4376 7.81228C38.4376 8.6165 39.0426 9.28572 39.8423 9.36509C40.7681 9.45697 41.5595 8.73587 41.5595 7.81228C41.5595 6.94697 40.8626 6.25134 39.9986 6.25134Z' fill='#555555')
              path(d='M71.25 9.37506C66.9422 9.37506 63.4375 5.87037 63.4375 1.56256C63.4375 0.699749 62.7378 6.10352e-05 61.875 6.10352e-05H18.125C17.2622 6.10352e-05 16.5625 0.699749 16.5625 1.56256C16.5625 5.87037 13.0578 9.37506 8.75 9.37506C7.88719 9.37506 7.1875 10.0747 7.1875 10.9376V36.436C7.1875 56.3074 20.1398 74.1133 39.5513 79.9343C39.6977 79.978 39.8488 80.0001 40 80.0001C40.1512 80.0001 40.3027 79.978 40.4489 79.9341C59.4398 74.2374 72.8125 56.7421 72.8125 36.436V10.9376C72.8125 10.0747 72.1128 9.37506 71.25 9.37506ZM69.6875 36.436C69.6875 55.0997 57.778 71.2629 40 76.8037C22.3637 71.3071 10.3125 54.9976 10.3125 36.436V12.3888C15.0955 11.7016 18.8891 7.90803 19.5763 3.12506H60.4238C61.1109 7.90803 64.9045 11.7016 69.6875 12.3888V36.436Z' fill='#555555')
              path(d='M65.6269 14.4516C62.3684 13.0246 59.788 10.4441 58.3609 7.18569C58.1119 6.61725 57.5503 6.25006 56.9297 6.25006H46.2469C45.3841 6.25006 44.6844 6.94975 44.6844 7.81256C44.6844 8.67537 45.3841 9.37506 46.2469 9.37506H55.9417C57.5925 12.6065 60.2061 15.2199 63.4375 16.8708V36.436C63.4375 51.7271 54.258 64.9209 40 70.2023C25.742 64.9207 16.5625 51.7271 16.5625 36.436V16.8708C19.7939 15.2199 22.4073 12.6065 24.0583 9.37506H33.7531C34.6159 9.37506 35.3156 8.67537 35.3156 7.81256C35.3156 6.94975 34.6159 6.25006 33.7531 6.25006H23.0703C22.4497 6.25006 21.8881 6.6174 21.6391 7.18569C20.212 10.4441 17.6316 13.0246 14.3731 14.4516C13.8048 14.7007 13.4375 15.2624 13.4375 15.8829V36.436C13.4375 53.188 23.7986 67.788 39.4788 73.3369C39.6473 73.3966 39.8236 73.4265 40 73.4265C40.1764 73.4265 40.3527 73.3966 40.5212 73.3369C56.1883 67.7927 66.5625 53.2016 66.5625 36.436V15.8829C66.5625 15.2623 66.1952 14.7007 65.6269 14.4516Z' fill='#555555')
              g(clip-path='url(#clip1_2:487)')
                path(d='M45.0781 30.2962L38.9844 25.7259C38.4618 25.3426 37.7656 25.7334 37.7656 26.3353V28.6204H35.3789C30.7628 28.6204 27 32.3833 27 36.9994C27 41.3411 30.3211 44.9212 34.5563 45.3325L32.3778 43.7024C31.9723 43.3986 31.9734 42.7869 32.3778 42.4837L34.6934 40.747C32.9109 40.4271 31.5703 38.8731 31.5703 36.9994C31.5703 34.897 33.2766 33.1908 35.3789 33.1908H37.7656V35.4759C37.7656 36.0772 38.4616 36.4688 38.9844 36.0852L45.0781 31.5149C45.4844 31.2338 45.4853 30.5782 45.0781 30.2962Z' fill='#505050')
                path(d='M45.444 28.6662L47.6225 30.2963C48.0279 30.6004 48.027 31.2119 47.6225 31.5151L45.3069 33.2518C47.0893 33.5718 48.4299 35.1256 48.4299 36.9995C48.4299 39.1018 46.7237 40.8081 44.6214 40.8081H42.3362V38.5229C42.3362 37.9231 41.6413 37.5294 41.1174 37.9135L34.9221 42.4838C34.5158 42.7653 34.515 43.4208 34.9221 43.7026L41.1174 48.2729C41.5998 48.6482 42.3362 48.2955 42.3362 47.6636V45.3784H44.6214C49.2374 45.3784 53.0003 41.6155 53.0003 36.9995C53.0003 32.6577 49.6792 29.0776 45.444 28.6662Z' fill='#505050')
            defs
              clippath(id='clip0_2:487')
                rect(width='80' height='80' fill='white')
              clippath(id='clip1_2:487')
                rect(width='26' height='26' fill='white' transform='translate(27 24.0001)')
        .guarant-box-title
          | Гарантия того, что регистрация
          br
          | не будет обжалована или отменена
        .guarant-box-txt
          | Вы получите на руки документы, подтверждающие
          br
          | законность регистрации недвижимости
      .guarant-box
        .guarant-icon
          svg(width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_2:509)')
              path(d='M39.999 6.25122C39.1337 6.25122 38.438 6.9481 38.438 7.81216C38.438 8.61638 39.0431 9.2856 39.8427 9.36497C40.7685 9.45685 41.5599 8.73575 41.5599 7.81216C41.5599 6.94685 40.8631 6.25122 39.999 6.25122Z' fill='#555555')
              path(d='M71.2504 9.37494C66.9426 9.37494 63.4379 5.87025 63.4379 1.56244C63.4379 0.699627 62.7382 -6.10352e-05 61.8754 -6.10352e-05H18.1254C17.2626 -6.10352e-05 16.5629 0.699627 16.5629 1.56244C16.5629 5.87025 13.0582 9.37494 8.75037 9.37494C7.88755 9.37494 7.18787 10.0746 7.18787 10.9374V36.4359C7.18787 56.3073 20.1402 74.1132 39.5516 79.9342C39.698 79.9779 39.8491 79.9999 40.0004 79.9999C40.1516 79.9999 40.303 79.9779 40.4493 79.934C59.4402 74.2373 72.8129 56.742 72.8129 36.4359V10.9374C72.8129 10.0746 72.1132 9.37494 71.2504 9.37494ZM69.6879 36.4359C69.6879 55.0996 57.7783 71.2627 40.0004 76.8035C22.3641 71.307 10.3129 54.9974 10.3129 36.4359V12.3887C15.0958 11.7015 18.8894 7.90791 19.5766 3.12494H60.4241C61.1113 7.90791 64.9049 11.7015 69.6879 12.3887V36.4359Z' fill='#555555')
              path(d='M65.6272 14.4515C62.3688 13.0245 59.7883 10.444 58.3613 7.18556C58.1122 6.61713 57.5507 6.24994 56.9301 6.24994H46.2472C45.3844 6.24994 44.6847 6.94963 44.6847 7.81244C44.6847 8.67525 45.3844 9.37494 46.2472 9.37494H55.9421C57.5929 12.6063 60.2065 15.2198 63.4379 16.8707V36.4359C63.4379 51.727 54.2583 64.9207 40.0004 70.2021C25.7424 64.9206 16.5629 51.727 16.5629 36.4359V16.8707C19.7943 15.2198 22.4077 12.6063 24.0586 9.37494H33.7535C34.6163 9.37494 35.316 8.67525 35.316 7.81244C35.316 6.94963 34.6163 6.24994 33.7535 6.24994H23.0707C22.4501 6.24994 21.8885 6.61728 21.6394 7.18556C20.2124 10.444 17.6319 13.0245 14.3735 14.4515C13.8052 14.7006 13.4379 15.2623 13.4379 15.8828V36.4359C13.4379 53.1879 23.799 67.7879 39.4791 73.3368C39.6477 73.3965 39.824 73.4264 40.0004 73.4264C40.1768 73.4264 40.353 73.3965 40.5216 73.3368C56.1886 67.7926 66.5629 53.2015 66.5629 36.4359V15.8828C66.5629 15.2621 66.1955 14.7006 65.6272 14.4515Z' fill='#555555')
              g(clip-path='url(#clip1_2:509)')
                path(d='M42.2551 38.4687C45.7039 38.4687 48.4894 35.6774 48.4894 32.2343C48.4894 28.7967 45.6927 25.9999 42.2551 25.9999H35.979C35.6554 25.9999 35.3931 26.2623 35.3931 26.5859V34.7864H34.0962C33.7726 34.7864 33.5103 35.0487 33.5103 35.3723V37.8828C33.5103 38.2063 33.7726 38.4687 34.0962 38.4687H35.3931V39.8072H34.0962C33.7726 39.8072 33.5103 40.0696 33.5103 40.3932V42.9036C33.5103 43.2272 33.7726 43.4895 34.0962 43.4895H35.3931V45.414C35.3931 45.7376 35.6554 45.9999 35.979 45.9999H38.4894C38.813 45.9999 39.0754 45.7376 39.0754 45.414V43.4895H42.8826C43.2062 43.4895 43.4686 43.2272 43.4686 42.9036V40.3931C43.4686 40.0695 43.2062 39.8072 42.8826 39.8072H39.0753V38.4687H42.2551ZM39.0753 29.6822H42.255C43.6622 29.6822 44.8071 30.8271 44.8071 32.2343C44.8071 33.6415 43.6622 34.7864 42.255 34.7864H39.0753V29.6822Z' fill='#505050')
            defs
              clippath(id='clip0_2:509')
                rect(width='80' height='80' fill='white' transform='translate(0.000366211)')
              clippath(id='clip1_2:509')
                rect(width='20' height='20' fill='white' transform='translate(31.0004 25.9999)')
        .guarant-box-title
          | Гарантия возврата денег
        .guarant-box-txt
          | В маловероятном случае неуспеха мы
          br
          | гарантируем возврат полной стоимости
          br
          | оплаты
    .guarant-view.flex
      .view-title
        | "Мы лично отвечаем за результат своей
        br
        | репутацией, сложившейся за годы работы
        br
        | с владельцами коммерческой недвижимости."
      .profile.flex.mb
        .view-icon
        .view-container
          .view-name
            | Александр Васильев
          .view-post
            | собственник Хелп Девелопмент
      .profile.flex.mb
        .view-icon
        .view-container
          .view-name
            | Анатолий Сергеев
          .view-post
            | собственник Хелп Девелопмент
