.offer.flex.bg-2
  .offer-title
    span.offer-color
      | Доверьте 
    | взаимодействие 
    br
    | с Росреестром 
    span.offer-color
      | профессионалам
  .offer-par
    | Возьмем на себя все работы по подготовке документов 
    br
    | и гарантированно зарегистрируем вашу недвижимость в Росреестре.
  .offer-data.flex
    .offer-input
      .input-title
        | Ваше имя
      input(type='text' name='name' placeholder='Иван Васильевич')
    .offer-input
      .input-title
        | Ваш телефон
      input(type='tel' name='phone' placeholder='8(777)405-77-59')
  button.offer-button.flex Получить консультацию бесплатно