.offer.flex.bg-1
  .offer-title
    | Узнайте 
    span.offer-color
      | оптимальный 
    | выход 
    br
    | из вашей ситуации
  .offer-par
    | Перезвоним в течение 15 минут, проведем консультацию 
    br
    | и предложим план действий по устранению вашей проблемы.
  .offer-data.flex
    .offer-input
      .input-title
        | Ваше имя
      input(type='text' name='name' id="" placeholder='Иван Васильевич')
    .offer-input
      .input-title
        | Ваш телефон
      input(type='tel' name='phone' placeholder='8(777)405-77-59')
  button.offer-button.flex Получить консультацию бесплатно
