.owners.flex
  img.owners-img(src='./img/help.png' alt='Image')
  .w-container
    .own-con.flex
      .pt-1
        .usual-title <span>Помогаем владельцам</span> недвижимости с 2011 года
      .owners-container
        .owners-txt.tc
          | Еще в первый месяц существования "Хелп Девелопмент" мы для <br> себя твердо решили: в работе одновременно должно быть не <br> больше 10 проектов по одному направлению. <br> Это принципиально для нас, поскольку только так мы уверены, <br> что делаем максимум для каждого клиента. 
        .owners-txt.tc
          | Все проекты находятся под личным контролем руководителей, <br> мы ведем их от первого звонка до полного снятия всех <br> замечаний по объекту и выполнения всех требований <br> исполнительных органов города Москвы.
        .owners-txt.tc
          | Со временем мы выработали еще один важный для нас принцип <br> — мы не даем пустых обещаний и беремся за проект только если <br> точно знаем, что сможем его выполнить. 
        .owners-txt.tc
          | За 10 лет мы выработали собственный подход к работе с <br> государственными органами и собрали крепкую команду <br> профессионалов. Доверьте нам вашу задачу, и мы подойдем к <br> ней с максимальной отдачей.
      button.owners-button.flex Оставить заявку
