.result
  .w-container
    .usual-title
      span Результаты 
      | наших клиентов
    .usual-par
      | Берем на себя все риски и несем юридическую ответственность за регистрацию вашей
      br
      | недвижимости в Росреестре. Все наши обязательства прописаны в официальном договоре:
    .result-container.flex
      .result-par-container
        .result-par
          .result-par-title
            | Проблема:
          .result-par-txt
            | Росреестр выдал приостановку в регистрации изменений в ЕГРН (смена <br> вида разрешенного использования). Нужно снять приостановку и внести <br> новый ВРИ в ЕГРН в кратчайшие сроки, так как уже найдет покупатель <br> недвижимости и из-за затянутых сроков сделка может не состояться.
        .result-par
          .result-par-title
            | Ход работы:
          .result-par-txt.lh-1
            | 1. Изучили причины, указанные в приостановке.
            br
            | 2. Пять из шести пунктов исправили без особых проблем, это заняло 4 недели.
            br
            | 3. Шестой пункт оказался надуманным. На следующий день после ознакомления
            br
            | написали жалобу и через 6 недель успешно его оспорили.
        .result-par
          .result-par-title
            | Результаты:
          .result-par-txt.lh-1
            | 1. Сняли приостановку за 6 недель.
            br
            | 2. Уложились в заданные сроки.
            br
            | 3. Сэкономили клиенту деньги и время, обжаловав необходимость проведения
            br
            | сложных работ, которые оказались необязательными.
      .result-line
      .feedback.flex
        .feedback-title
          | Заголовок отзыва в несколько <br> строк, возможно первая фраза <br> отзыва...
        .feedback-txt
          | Идейные соображения высшего порядка, а также <br> новая модель организационной деятельности <br> позволяет оценить значение систем массового <br> участия. Идейные соображения высшего порядка, <br> а также постоянный количественный рост и сфера <br> нашей активности в значительной степени <br> обуславливает создание систем массового <br> участия.
        .profile-container.flex
          .profile.flex
            .view-icon.bc
              img(src='./img/photo.png' alt='Photo')
            .view-container
              .view-name
                | Роберт Панчуковски
              .view-post
                | Заместитель руководителя
          .arrow-container.flex
            .profile-arrow
              svg(width='24' height='13' viewBox='0 0 24 13' xmlns='http://www.w3.org/2000/svg')
                path(d='M23.725 5.7579C23.7247 5.75758 23.7245 5.75722 23.7242 5.7569L18.8256 0.305287C18.4586 -0.103112 17.865 -0.101593 17.4997 0.308851C17.1344 0.719243 17.1359 1.38303 17.5028 1.79148L20.7918 5.45161H0.9375C0.419719 5.45161 0 5.92098 0 6.5C0 7.07902 0.419719 7.54839 0.9375 7.54839H20.7917L17.5029 11.2085C17.1359 11.617 17.1345 12.2808 17.4997 12.6911C17.865 13.1016 18.4587 13.1031 18.8256 12.6947L23.7242 7.2431C23.7245 7.24278 23.7247 7.24242 23.7251 7.2421C24.0922 6.83229 24.0911 6.16635 23.725 5.7579Z')
            .profile-arrow
              svg(width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M23.725 5.7579C23.7247 5.75758 23.7245 5.75722 23.7242 5.7569L18.8256 0.305287C18.4586 -0.103112 17.865 -0.101593 17.4997 0.308851C17.1344 0.719243 17.1359 1.38303 17.5028 1.79148L20.7918 5.45161H0.9375C0.419719 5.45161 0 5.92098 0 6.5C0 7.07902 0.419719 7.54839 0.9375 7.54839H20.7917L17.5029 11.2085C17.1359 11.617 17.1345 12.2808 17.4997 12.6911C17.865 13.1016 18.4587 13.1031 18.8256 12.6947L23.7242 7.2431C23.7245 7.24278 23.7247 7.24242 23.7251 7.2421C24.0922 6.83229 24.0911 6.16635 23.725 5.7579Z' fill='#434343')
