.why
  .w-container
    .usual-title
      | Почему стоит обратиться
      br
      span именно к нам:
    .usual-par
      | Задача организации, в особенности же укрепление и развитие структуры
      br
      | обеспечивает широкому кругу (специалистов) участие в формировании новых
      br
      | предложений.
    .why-icons-container.flex
      .why-icons
        svg(width='113' height='126' viewBox='0 0 113 126' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='0.0502525' y='70' width='80' height='80' rx='10.5' transform='rotate(-45 0.0502525 70)' stroke='#F8B043' stroke-width='7')
          path(d='M101.331 107.546V114.676H10.9635V99.4116H101.331' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M101.331 107.546V114.676H10.9635V99.4116H101.331' stroke='url(#paint0_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M101.331 107.546V114.676H10.9635V99.4116H101.331' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M65.6255 56.5464L66.3609 59.6682' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M65.6255 56.5464L66.3609 59.6682' stroke='url(#paint1_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M65.6255 56.5464L66.3609 59.6682' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M45.9352 59.6683L47.391 51.1133' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M45.9352 59.6683L47.391 51.1133' stroke='url(#paint2_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M45.9352 59.6683L47.391 51.1133' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6709 25.5386C73.6709 39.7219 65.8213 53.1247 56.1556 53.1247C46.49 53.1247 38.6404 39.6618 38.6404 25.5386' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6709 25.5386C73.6709 39.7219 65.8213 53.1247 56.1556 53.1247C46.49 53.1247 38.6404 39.6618 38.6404 25.5386' stroke='url(#paint3_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6709 25.5386C73.6709 39.7219 65.8213 53.1247 56.1556 53.1247C46.49 53.1247 38.6404 39.6618 38.6404 25.5386' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M74.2262 22.3866C74.2262 22.3866 77.6632 13.7266 73.6709 8.72863C69.6785 3.7307 56.9361 -1.23721 44.3887 4.72128C31.0759 11.04 37.5897 22.5367 37.5897 22.5367C55.7203 27.7748 60.8984 16.7733 66.2265 18.5294' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M74.2262 22.3866C74.2262 22.3866 77.6632 13.7266 73.6709 8.72863C69.6785 3.7307 56.9361 -1.23721 44.3887 4.72128C31.0759 11.04 37.5897 22.5367 37.5897 22.5367C55.7203 27.7748 60.8984 16.7733 66.2265 18.5294' stroke='url(#paint4_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M74.2262 22.3866C74.2262 22.3866 77.6632 13.7266 73.6709 8.72863C69.6785 3.7307 56.9361 -1.23721 44.3887 4.72128C31.0759 11.04 37.5897 22.5367 37.5897 22.5367C55.7203 27.7748 60.8984 16.7733 66.2265 18.5294' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M36.7936 61.8447L56.1549 85.8888L75.5013 61.8447' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='round')
          path(d='M36.7936 61.8447L56.1549 85.8888L75.5013 61.8447' stroke='url(#paint5_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='round')
          path(d='M36.7936 61.8447L56.1549 85.8888L75.5013 61.8447' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='round')
          path(d='M96.9641 99.4117H15.3313V83.3073C15.3313 80.4888 15.8864 77.6979 16.965 75.0939C18.0436 72.49 19.6246 70.124 21.6175 68.131C25.6426 64.106 31.1016 61.8447 36.7939 61.8447H75.5616C81.2538 61.8447 86.7129 64.106 90.7379 68.131C94.7629 72.156 97.0242 77.6151 97.0242 83.3073V89.8361' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M96.9641 99.4117H15.3313V83.3073C15.3313 80.4888 15.8864 77.6979 16.965 75.0939C18.0436 72.49 19.6246 70.124 21.6175 68.131C25.6426 64.106 31.1016 61.8447 36.7939 61.8447H75.5616C81.2538 61.8447 86.7129 64.106 90.7379 68.131C94.7629 72.156 97.0242 77.6151 97.0242 83.3073V89.8361' stroke='url(#paint6_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M96.9641 99.4117H15.3313V83.3073C15.3313 80.4888 15.8864 77.6979 16.965 75.0939C18.0436 72.49 19.6246 70.124 21.6175 68.131C25.6426 64.106 31.1016 61.8447 36.7939 61.8447H75.5616C81.2538 61.8447 86.7129 64.106 90.7379 68.131C94.7629 72.156 97.0242 77.6151 97.0242 83.3073V89.8361' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.3825 69.0339L61.0184 61.8447H51.2777L52.6585 69.0339' stroke='#ADACAC' stroke-width='2.63' stroke-linecap='square' stroke-linejoin='round')
          path(d='M59.3825 69.0339L61.0184 61.8447H51.2777L52.6585 69.0339' stroke='url(#paint7_linear_2:105)' stroke-width='2.63' stroke-linecap='square' stroke-linejoin='round')
          path(d='M59.3825 69.0339L61.0184 61.8447H51.2777L52.6585 69.0339' stroke='#181818' stroke-width='2.63' stroke-linecap='square' stroke-linejoin='round')
          path(d='M61.0189 73.1762L59.8782 69.6191H52.4338L49.9424 77.5288' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10')
          path(d='M61.0189 73.1762L59.8782 69.6191H52.4338L49.9424 77.5288' stroke='url(#paint8_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10')
          path(d='M61.0189 73.1762L59.8782 69.6191H52.4338L49.9424 77.5288' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10')
          path(d='M4 99.4116H108.311' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M4 99.4116H108.311' stroke='url(#paint9_linear_2:105)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M4 99.4116H108.311' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          defs
            lineargradient(id='paint0_linear_2:105' x1='56.1475' y1='99.4116' x2='56.1475' y2='114.676' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint1_linear_2:105' x1='65.9932' y1='56.5464' x2='65.9932' y2='59.6682' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint2_linear_2:105' x1='46.6631' y1='51.1133' x2='46.6631' y2='59.6683' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint3_linear_2:105' x1='56.1556' y1='25.5386' x2='56.1556' y2='53.1247' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint4_linear_2:105' x1='55.799' y1='2' x2='55.799' y2='23.9635' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint5_linear_2:105' x1='56.1474' y1='61.8447' x2='56.1474' y2='85.8888' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint6_linear_2:105' x1='56.1777' y1='61.8447' x2='56.1777' y2='99.4117' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint7_linear_2:105' x1='56.1481' y1='61.8447' x2='56.1481' y2='69.0339' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint8_linear_2:105' x1='55.4806' y1='69.6191' x2='55.4806' y2='77.5288' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint9_linear_2:105' x1='56.1556' y1='99.4116' x2='56.1556' y2='100.412' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
        .why-icons-txt
          | Сотрудники - бывшие
          br
          | работники гос.органов
      .why-icons
        svg(width='113' height='125' viewBox='0 0 113 125' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='0.0502525' y='69' width='81' height='79' rx='10.5' transform='rotate(-45 0.0502525 69)' stroke='#F8B043' stroke-width='7')
          path(d='M56.7859 105.768H18.4473V2H93.0437V9.45485' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M93.0439 23.834V105.768H78.5876' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M93.0439 23.834V105.768H78.5876' stroke='url(#paint0_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M93.0439 23.834V105.768H78.5876' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 19.2412H77.0171' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 19.2412H77.0171' stroke='url(#paint1_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 19.2412H77.0171' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H56.5115' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H56.5115' stroke='url(#paint2_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H56.5115' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H77.0176' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H77.0176' stroke='url(#paint3_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 19.2412H77.0176' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 33.2988H77.0171' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 33.2988H77.0171' stroke='url(#paint4_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.1775 33.2988H77.0171' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 33.2988H56.5115' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 33.2988H56.5115' stroke='url(#paint5_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 33.2988H56.5115' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 47.3711H77.0176' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 47.3711H77.0176' stroke='url(#paint6_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 47.3711H77.0176' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M55.7389 61.4297H77.0167' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M55.7389 61.4297H77.0167' stroke='url(#paint7_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M55.7389 61.4297H77.0167' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 61.4297H45.4867' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 61.4297H45.4867' stroke='url(#paint8_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 61.4297H45.4867' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 75.5015H48.7114' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 75.5015H48.7114' stroke='url(#paint9_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 75.5015H48.7114' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 89.5596H48.7114' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 89.5596H48.7114' stroke='url(#paint10_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M34.4619 89.5596H48.7114' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.9428 95.6323L58.165 105.768L56.9661 112.552L67.6877 108.909L78.4093 112.552L77.2103 105.768L76.6591 102.64' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.9428 95.6323L58.165 105.768L56.9661 112.552L67.6877 108.909L78.4093 112.552L77.2103 105.768L76.6591 102.64' stroke='url(#paint11_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.9428 95.6323L58.165 105.768L56.9661 112.552L67.6877 108.909L78.4093 112.552L77.2103 105.768L76.6591 102.64' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6827 76.0039C71.5923 74.6557 69.1184 74.0506 66.651 74.2838C64.1835 74.517 61.8629 75.5754 60.0547 77.292C58.2466 79.0087 57.0537 81.2861 56.6642 83.7653C56.2746 86.2445 56.7106 88.7845 57.9032 90.9851C59.0959 93.1856 60.9775 94.9215 63.2515 95.9193C65.5255 96.917 68.0626 97.1198 70.463 96.4957C72.8633 95.8717 74.9904 94.4562 76.509 92.4724C78.0277 90.4886 78.8514 88.0493 78.8506 85.5389' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6827 76.0039C71.5923 74.6557 69.1184 74.0506 66.651 74.2838C64.1835 74.517 61.8629 75.5754 60.0547 77.292C58.2466 79.0087 57.0537 81.2861 56.6642 83.7653C56.2746 86.2445 56.7106 88.7845 57.9032 90.9851C59.0959 93.1856 60.9775 94.9215 63.2515 95.9193C65.5255 96.917 68.0626 97.1198 70.463 96.4957C72.8633 95.8717 74.9904 94.4562 76.509 92.4724C78.0277 90.4886 78.8514 88.0493 78.8506 85.5389' stroke='url(#paint12_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M73.6827 76.0039C71.5923 74.6557 69.1184 74.0506 66.651 74.2838C64.1835 74.517 61.8629 75.5754 60.0547 77.292C58.2466 79.0087 57.0537 81.2861 56.6642 83.7653C56.2746 86.2445 56.7106 88.7845 57.9032 90.9851C59.0959 93.1856 60.9775 94.9215 63.2515 95.9193C65.5255 96.917 68.0626 97.1198 70.463 96.4957C72.8633 95.8717 74.9904 94.4562 76.509 92.4724C78.0277 90.4886 78.8514 88.0493 78.8506 85.5389' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.6745 89.6575C69.9198 89.6575 71.7399 87.8137 71.7399 85.5392C71.7399 83.2647 69.9198 81.4209 67.6745 81.4209C65.4293 81.4209 63.6091 83.2647 63.6091 85.5392C63.6091 87.8137 65.4293 89.6575 67.6745 89.6575Z' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.6745 89.6575C69.9198 89.6575 71.7399 87.8137 71.7399 85.5392C71.7399 83.2647 69.9198 81.4209 67.6745 81.4209C65.4293 81.4209 63.6091 83.2647 63.6091 85.5392C63.6091 87.8137 65.4293 89.6575 67.6745 89.6575Z' stroke='url(#paint13_linear_2:134)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.6745 89.6575C69.9198 89.6575 71.7399 87.8137 71.7399 85.5392C71.7399 83.2647 69.9198 81.4209 67.6745 81.4209C65.4293 81.4209 63.6091 83.2647 63.6091 85.5392C63.6091 87.8137 65.4293 89.6575 67.6745 89.6575Z' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          defs
            lineargradient(id='paint0_linear_2:134' x1='85.8158' y1='23.834' x2='85.8158' y2='105.768' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint1_linear_2:134' x1='72.0973' y1='19.2412' x2='72.0973' y2='20.2412' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint2_linear_2:134' x1='45.4867' y1='19.2412' x2='45.4867' y2='20.2412' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint3_linear_2:134' x1='55.7397' y1='19.2412' x2='55.7397' y2='20.2412' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint4_linear_2:134' x1='72.0973' y1='33.2988' x2='72.0973' y2='34.2988' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint5_linear_2:134' x1='45.4867' y1='33.2988' x2='45.4867' y2='34.2988' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint6_linear_2:134' x1='55.7397' y1='47.3711' x2='55.7397' y2='48.3711' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint7_linear_2:134' x1='66.3778' y1='61.4297' x2='66.3778' y2='62.4297' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint8_linear_2:134' x1='39.9743' y1='61.4297' x2='39.9743' y2='62.4297' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint9_linear_2:134' x1='41.5867' y1='75.5015' x2='41.5867' y2='76.5015' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint10_linear_2:134' x1='41.5867' y1='89.5596' x2='41.5867' y2='90.5596' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint11_linear_2:134' x1='67.6877' y1='95.6323' x2='67.6877' y2='112.552' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint12_linear_2:134' x1='67.688' y1='74.2349' x2='67.688' y2='96.8507' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint13_linear_2:134' x1='67.6745' y1='81.4209' x2='67.6745' y2='89.6575' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
        .why-icons-txt
          | Гарантируем результат
          br
          | или полный возврат денег
      .why-icons
        svg(width='113' height='119' viewBox='0 0 113 119' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='0.0502525' y='63.3257' width='81' height='79' rx='10.5' transform='rotate(-45 0.0502525 63.3257)' stroke='#F8B043' stroke-width='7')
          path(d='M25.468 74.9313L50.3892 99.6883L90.123 60.195L98.5334 51.8354' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M25.468 74.9313L50.3892 99.6883L90.123 60.195L98.5334 51.8354' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M98.5328 51.8354L90.1224 60.195L50.3886 99.6883L25.4674 74.9313L17.057 66.5584' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M98.5328 51.8354L90.1224 60.195L50.3886 99.6883L25.4674 74.9313L17.057 66.5584' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M8.64697 58.2127L50.389 99.7021L98.5332 51.8493L106.944 43.4897' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M8.64697 58.2127L50.389 99.7021L98.5332 51.8493L106.944 43.4897' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M106.944 55.9082L98.5331 64.2677L50.389 112.134L8 69.9613V66.0495' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M106.944 55.9082L98.5331 64.2677L50.389 112.134L8 69.9613V66.0495' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M99.0453 35.6524L106.944 43.4894L98.5332 51.8489L50.389 99.7018L8.64697 58.2123L65.2015 2L87.6293 24.292' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M99.0453 35.6524L106.944 43.4894L98.5332 51.8489L50.389 99.7018L8.64697 58.2123L65.2015 2L87.6293 24.292' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M99.0444 35.6523L80.5254 54.0459L78.4632 44.7621L69.1228 42.7124L87.6284 24.292' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M99.0444 35.6523L80.5254 54.0459L78.4632 44.7621L69.1228 42.7124L87.6284 24.292' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
        .why-icons-txt
          | Ведем не более
          br
          | 10 проектов одновременно
      .why-icons
        svg(width='114' height='128' viewBox='0 0 114 128' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='0.0502525' y='72' width='81' height='79' rx='10.5' transform='rotate(-45 0.0502525 72)' stroke='#F8B043' stroke-width='7')
          path(d='M59.5789 14.8604L87.1754 42.4569L66.0326 63.5998L38.3799 35.9471' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.5789 14.8604L87.1754 42.4569L66.0326 63.5998L38.3799 35.9471' stroke='url(#paint0_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M59.5789 14.8604L87.1754 42.4569L66.0326 63.5998L38.3799 35.9471' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2369 56.4028L56.0428 53.5968L47.2181 44.7861L32.7675 59.2508' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2369 56.4028L56.0428 53.5968L47.2181 44.7861L32.7675 59.2508' stroke='url(#paint1_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2369 56.4028L56.0428 53.5968L47.2181 44.7861L32.7675 59.2508' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2086 56.4312L41.0448 68.595' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2086 56.4312L41.0448 68.595' stroke='url(#paint2_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M53.2086 56.4312L41.0448 68.595' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M24.8547 63.4035C25.6816 62.5704 26.6651 61.9092 27.7487 61.458C28.8322 61.0067 29.9944 60.7744 31.1681 60.7744C32.3419 60.7744 33.504 61.0067 34.5876 61.458C35.6712 61.9092 36.6547 62.5704 37.4815 63.4035V63.4035C38.3113 64.2322 38.9695 65.2164 39.4186 66.2997C39.8678 67.383 40.0989 68.5442 40.0989 69.7169C40.0989 70.8896 39.8678 72.0508 39.4186 73.1341C38.9695 74.2174 38.3113 75.2016 37.4815 76.0303L14.627 98.7726L2.00024 86.1458L18.7237 69.5345' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M24.8547 63.4035C25.6816 62.5704 26.6651 61.9092 27.7487 61.458C28.8322 61.0067 29.9944 60.7744 31.1681 60.7744C32.3419 60.7744 33.504 61.0067 34.5876 61.458C35.6712 61.9092 36.6547 62.5704 37.4815 63.4035V63.4035C38.3113 64.2322 38.9695 65.2164 39.4186 66.2997C39.8678 67.383 40.0989 68.5442 40.0989 69.7169C40.0989 70.8896 39.8678 72.0508 39.4186 73.1341C38.9695 74.2174 38.3113 75.2016 37.4815 76.0303L14.627 98.7726L2.00024 86.1458L18.7237 69.5345' stroke='url(#paint3_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M24.8547 63.4035C25.6816 62.5704 26.6651 61.9092 27.7487 61.458C28.8322 61.0067 29.9944 60.7744 31.1681 60.7744C32.3419 60.7744 33.504 61.0067 34.5876 61.458C35.6712 61.9092 36.6547 62.5704 37.4815 63.4035V63.4035C38.3113 64.2322 38.9695 65.2164 39.4186 66.2997C39.8678 67.383 40.0989 68.5442 40.0989 69.7169C40.0989 70.8896 39.8678 72.0508 39.4186 73.1341C38.9695 74.2174 38.3113 75.2016 37.4815 76.0303L14.627 98.7726L2.00024 86.1458L18.7237 69.5345' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M56.8006 16.4882L58.2036 15.0852C58.918 14.3758 59.4849 13.5321 59.8718 12.6026C60.2586 11.6732 60.4578 10.6764 60.4578 9.66969C60.4578 8.66295 60.2586 7.66616 59.8718 6.73673C59.4849 5.8073 58.918 4.96359 58.2036 4.2542V4.2542C57.4942 3.53986 56.6505 2.97293 55.7211 2.58605C54.7917 2.19917 53.7949 2 52.7881 2C51.7814 2 50.7846 2.19917 49.8552 2.58605C48.9257 2.97293 48.082 3.53986 47.3726 4.2542L41.3258 10.301L27.8151 23.8117C26.3793 25.2482 25.5726 27.1961 25.5726 29.2272C25.5726 31.2583 26.3793 33.2062 27.8151 34.6427V34.6427C29.2516 36.0786 31.1996 36.8852 33.2306 36.8852C35.2617 36.8852 37.2096 36.0786 38.6461 34.6427L51.1046 22.1842L71.6161 42.6958' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M56.8006 16.4882L58.2036 15.0852C58.918 14.3758 59.4849 13.5321 59.8718 12.6026C60.2586 11.6732 60.4578 10.6764 60.4578 9.66969C60.4578 8.66295 60.2586 7.66616 59.8718 6.73673C59.4849 5.8073 58.918 4.96359 58.2036 4.2542V4.2542C57.4942 3.53986 56.6505 2.97293 55.7211 2.58605C54.7917 2.19917 53.7949 2 52.7881 2C51.7814 2 50.7846 2.19917 49.8552 2.58605C48.9257 2.97293 48.082 3.53986 47.3726 4.2542L41.3258 10.301L27.8151 23.8117C26.3793 25.2482 25.5726 27.1961 25.5726 29.2272C25.5726 31.2583 26.3793 33.2062 27.8151 34.6427V34.6427C29.2516 36.0786 31.1996 36.8852 33.2306 36.8852C35.2617 36.8852 37.2096 36.0786 38.6461 34.6427L51.1046 22.1842L71.6161 42.6958' stroke='url(#paint4_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M56.8006 16.4882L58.2036 15.0852C58.918 14.3758 59.4849 13.5321 59.8718 12.6026C60.2586 11.6732 60.4578 10.6764 60.4578 9.66969C60.4578 8.66295 60.2586 7.66616 59.8718 6.73673C59.4849 5.8073 58.918 4.96359 58.2036 4.2542V4.2542C57.4942 3.53986 56.6505 2.97293 55.7211 2.58605C54.7917 2.19917 53.7949 2 52.7881 2C51.7814 2 50.7846 2.19917 49.8552 2.58605C48.9257 2.97293 48.082 3.53986 47.3726 4.2542L41.3258 10.301L27.8151 23.8117C26.3793 25.2482 25.5726 27.1961 25.5726 29.2272C25.5726 31.2583 26.3793 33.2062 27.8151 34.6427V34.6427C29.2516 36.0786 31.1996 36.8852 33.2306 36.8852C35.2617 36.8852 37.2096 36.0786 38.6461 34.6427L51.1046 22.1842L71.6161 42.6958' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M97.2251 54.0731C100.217 51.0816 100.217 46.2314 97.2251 43.2399C94.2336 40.2484 89.3834 40.2484 86.3919 43.2399L66.8188 62.8132C63.8272 65.8047 63.8272 70.6549 66.8187 73.6464C69.8103 76.638 74.6604 76.638 77.652 73.6464L97.2251 54.0731Z' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M97.2251 54.0731C100.217 51.0816 100.217 46.2314 97.2251 43.2399C94.2336 40.2484 89.3834 40.2484 86.3919 43.2399L66.8188 62.8132C63.8272 65.8047 63.8272 70.6549 66.8187 73.6464C69.8103 76.638 74.6604 76.638 77.652 73.6464L97.2251 54.0731Z' stroke='url(#paint5_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M97.2251 54.0731C100.217 51.0816 100.217 46.2314 97.2251 43.2399C94.2336 40.2484 89.3834 40.2484 86.3919 43.2399L66.8188 62.8132C63.8272 65.8047 63.8272 70.6549 66.8187 73.6464C69.8103 76.638 74.6604 76.638 77.652 73.6464L97.2251 54.0731Z' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.7863 92.6138C68.2229 91.2567 69.0789 90.0731 70.2311 89.2335C71.3834 88.394 72.7723 87.9417 74.1979 87.9419H95.3408C96.2245 87.9401 97.0999 88.1125 97.9168 88.4494C98.7338 88.7863 99.4763 89.281 100.102 89.9053C100.727 90.5295 101.224 91.2709 101.562 92.0872C101.901 92.9035 102.075 93.7785 102.075 94.6622V99.5866H67.4636' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.7863 92.6138C68.2229 91.2567 69.0789 90.0731 70.2311 89.2335C71.3834 88.394 72.7723 87.9417 74.1979 87.9419H95.3408C96.2245 87.9401 97.0999 88.1125 97.9168 88.4494C98.7338 88.7863 99.4763 89.281 100.102 89.9053C100.727 90.5295 101.224 91.2709 101.562 92.0872C101.901 92.9035 102.075 93.7785 102.075 94.6622V99.5866H67.4636' stroke='url(#paint6_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M67.7863 92.6138C68.2229 91.2567 69.0789 90.0731 70.2311 89.2335C71.3834 88.394 72.7723 87.9417 74.1979 87.9419H95.3408C96.2245 87.9401 97.0999 88.1125 97.9168 88.4494C98.7338 88.7863 99.4763 89.281 100.102 89.9053C100.727 90.5295 101.224 91.2709 101.562 92.0872C101.901 92.9035 102.075 93.7785 102.075 94.6622V99.5866H67.4636' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M62.8332 99.5864H106.718C108.073 99.5864 109.372 100.124 110.329 101.082C111.287 102.04 111.825 103.339 111.825 104.693V115.608H57.7263V104.693C57.7263 103.339 58.2644 102.04 59.2221 101.082C60.1798 100.124 61.4787 99.5864 62.8332 99.5864V99.5864Z' stroke='#ADACAC' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M62.8332 99.5864H106.718C108.073 99.5864 109.372 100.124 110.329 101.082C111.287 102.04 111.825 103.339 111.825 104.693V115.608H57.7263V104.693C57.7263 103.339 58.2644 102.04 59.2221 101.082C60.1798 100.124 61.4787 99.5864 62.8332 99.5864V99.5864Z' stroke='url(#paint7_linear_2:158)' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          path(d='M62.8332 99.5864H106.718C108.073 99.5864 109.372 100.124 110.329 101.082C111.287 102.04 111.825 103.339 111.825 104.693V115.608H57.7263V104.693C57.7263 103.339 58.2644 102.04 59.2221 101.082C60.1798 100.124 61.4787 99.5864 62.8332 99.5864V99.5864Z' stroke='#181818' stroke-width='2.63' stroke-miterlimit='10' stroke-linecap='square')
          defs
            lineargradient(id='paint0_linear_2:158' x1='62.7777' y1='14.8604' x2='62.7777' y2='63.5998' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint1_linear_2:158' x1='44.4052' y1='44.7861' x2='44.4052' y2='59.2508' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint2_linear_2:158' x1='47.1267' y1='56.4312' x2='47.1267' y2='68.595' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint3_linear_2:158' x1='21.0496' y1='60.7744' x2='21.0496' y2='98.7726' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint4_linear_2:158' x1='48.5944' y1='2' x2='48.5944' y2='42.6958' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint5_linear_2:158' x1='97.2251' y1='43.2399' x2='66.8186' y2='73.6463' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint6_linear_2:158' x1='84.7693' y1='87.9419' x2='84.7693' y2='99.5866' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
            lineargradient(id='paint7_linear_2:158' x1='84.7757' y1='99.5864' x2='84.7757' y2='115.608' gradientUnits='userSpaceOnUse')
              stop(stop-color='#8C00FF')
              stop(offset='1' stop-color='#7100FF')
        .why-icons-txt
          | Помогаем не доводить
          br
          | дело до суда
